<div class="header-inner">
	<h1 class="logo">
		<a href="/" aria-label="홈으로 이동"> MyWebsite </a>
	</h1>
	<nav aria-label="주요 메뉴">
		<ul class="gnb">
			<li>
				<a href="#about">소개</a>
				<ul class="sub-menu">
					<li><a href="#">회사소개</a></li>
					<li><a href="#">연혁</a></li>
				</ul>
			</li>
			<li>
				<a href="#service">서비스</a>
				<ul class="sub-menu">
					<li><a href="#">구독</a></li>
					<li><a href="#">상품</a></li>
				</ul>
			</li>
			<li>
				<a href="#portfolio">포트폴리오</a>
				<ul class="sub-menu">
					<li><a href="#">구독</a></li>
					<li><a href="#">상품</a></li>
					<li><a href="#">구독</a></li>
					<li><a href="#">상품</a></li>
					<li><a href="#">상품</a></li>
					<li><a href="#">상품</a></li>
					<li><a href="#">상품</a></li>
					<li><a href="#">상품</a></li>
				</ul>
			</li>
			<li>
				<a href="#contact">문의하기</a>
				<ul class="sub-menu">
					<li><a href="#">구독</a></li>
					<li><a href="#">상품</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div class="utils">
		<button type="button" class="pc-show openLayer" aria-label="사이트맵 열기" data-pop="sitemap">
			<span class="menu-icon-btn">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</span>
		</button>
		<button type="button" class="mobile-show openMenu" aria-label="메뉴 열기">
			<span class="menu-icon-btn">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</span>
		</button>
	</div>
</div>
